<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.firebase.udacity.daggerPosts">

    <application
        android:name="com.google.firebase.udacity.daggerPosts.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ice_tick"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--<activity android:name=".dagger.AuthActivity"/>-->
        <activity android:name="com.google.firebase.udacity.daggerPosts.dagger.ui.auth.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.firebase.udacity.daggerPosts.dagger.ui.main.MainActivity" />
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>